@model ToDoAndReminderApp.Models.ToDoTask

@{
    ViewData["Title"] = "Delete";
}

<div align="center">
    <h2><b>Delete Task</b></h2>
    <h4><b>Are you sure you want to delete this task?</b></h4>
    <p>This action cannot be reversed.</p>
</div>

<hr />

<div>
    <h3><b>Task Title</b></h3>
    @Html.DisplayFor(model => model.TaskTitle)
    <hr />

    <h3><b>Task Information</b></h3>
    @Html.DisplayFor(model => model.TaskContent)
    <hr />

    <form asp-action="Delete">
        <div align="center">
            <input type="hidden" asp-for="ToDoTaskID" />
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    </form>
</div>

<div align="center">
    <h3>
        <b>
            <a asp-action="Index">Back to List</a>
        </b>
    </h3>
</div>
