@model ToDoAndReminderApp.Models.ToDoTask

@{
    ViewData["Title"] = "Details";
}

<div align="center">
    <h2><b>Task's Details</b></h2>
</div>

<hr />
<div>
    <h3><b>Task Title</b></h3>
    @Html.DisplayFor(model => model.TaskTitle)
    <hr />

    <h3><b>Task Information</b></h3>
    @Html.DisplayFor(model => model.TaskContent)
    <hr />

    <h3><b>Task Reminder</b></h3>
    @Html.DisplayFor(model => model.TaskReminderDateTime)
    <hr />
</div>

<br />
<div align="center">
    <h3>
        <b>
            <a asp-action="Edit" asp-route-id="@Model.ToDoTaskID">Edit Task</a> ||
            <a asp-action="Index">Back to List</a>
        </b>
    </h3>
</div>
