@{
    ViewData["Title"] = "Home Page";
}

<div align="center">
    <h1><b>Welcome to To-Do + Reminder App Prototype</b></h1>
    <p><b>Created by: Jordan Wong Wai Kit</b></p>

    <hr />

    <p>
        This application allows users to create a to-do list and a notification will be prompt when the time is up!<br />
        <b>Do not forget to allow notification on your default browser for this site!</b> Otherwise, you might not receive any notification!
    </p>

    <hr />

    <h2>
        <b>
            <a asp-controller="ToDoTasks" asp-action="Index">Take me to the List now!</a>
        </b>
    </h2>
</div>


